@model Models_Class.Contacto

@{
    ViewData["Title"] = "Contacto";
}
<section>
    <img id="img_contacto" src="~/img/Imagens_site/strawberries-1330459_192022.jpg" alt="Alternate Text"/>
    <div style="display: flow-root; position: relative; margin-bottom: 197px;">
        <div id="Info-Contacto" class="col-md-6">
            <div class="dados_contato">
                <h2>Fresh Fruit</h2>
                <h3>Rua Oliveira Monteiro, 168, 4050-438, Porto</h3>
            </div>
            <p></p>
            <div class="dados_contato">
                <h2>Email</h2>
                <h3>geral@freshfruit.com</h3>
            </div>
            <p></p>
            <div class="dados_contato">
                <h2>Número telemóvel</h2>
                <h3>+351 911 222 333</h3>
            </div>
        </div>



        <div id="Info-Contacto" class="col-md-6">
            <form asp-action="Contacto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" id="formNome" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" id="formEmail" placeholder="email@exemplo.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactoTelefonico" class="control-label"></label>
                    <input asp-for="ContactoTelefonico" class="form-control" id="formContactoTelefonico" placeholder="911 222 333" />
                    <span asp-validation-for="ContactoTelefonico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mensagem" class="control-label"></label>
                    <textarea asp-for="Mensagem" class="form-control" rows="5" id="formMensagem" placeholder="Digite aqui a mensagem"></textarea>
                    <span asp-validation-for="Mensagem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="submitFormBtn" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>
</section>


@section Scripts{
<script type="text/javascript">
    document.getElementById("formNome").focus();

    var nomeF = document.getElementById("formNome");
    var emailF = document.getElementById("formEmail");
    var mensagemF = document.getElementById("formMensagem");
    var submitF = document.getElementById("submitFormBtn");

    submitF.addEventListener("click", function test() {
        if (!nomeF === "" && !emailF === "" && !mensagemF === "") {
            alert("Obrigado pelo seu contacto!")
        }
        else {
            alert("Dados incompletos!")
        }
    });
</script>
}